body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn {
  margin: 10px;
  flex: 1 1 150px;
  max-width: 150px;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.game-over {
  background-color: red;
  opacity: 0.8;
  transition: background-color 0.5s, opacity 0.5s;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#level-display {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin: 20px 0;
  color: #FEF2BF;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .btn {
    height: 120px;
    width: 120px;
  }

  #level-title {
    font-size: 1.5rem;
  }

  #level-display {
    font-size: 1.2rem;
  }
}
